/* header */
header div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
}
.box1{
    align-items: center;
    flex-basis: 20%;
    
}
.box2{
    align-items: center;
    flex-basis: 60%;
}
.box2>a:hover{
    color: white;
    background-color: black;
}
.box3{
    align-items: center;
    flex-basis: 20%;
}
a{
    text-decoration: none;
    color: black;
    margin: 2px;
}


/* main */
main{
    margin-top: 10px;
    margin-bottom: 10px;
}
main>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
main>div>div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}
.circle:hover{
    background-color: rgb(163, 163, 163);
}



/* footer */
footer>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: whitesmoke;
}